@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lobster&display=swap');

:root{
    --primary-color: #e6dbf3;
    --secondary-color: #4f517d;
    --tertiary-color: #d1c3e7;
    --quaternary-color: #ff6584;
}

.dark-mode {
    --primary-color: #000106;
    --secondary-color: #fff;
    --tertiary-color: #181717;
    --quaternary-color: #9368B7;
}

#icon{
    max-height: 15px;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--tertiary-color);
    font-family: serif;
    font-size: 1rem;
}
.container-content{
    height: auto;
    background-color: var(--primary-color);
    max-width: 60rem;
    width: 100%;
    margin: 2rem auto 1rem auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(157, 132, 191, 0.377);
}

/* Menu content */
.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; 
}
.menu-nav-logo{
    color: var(--secondary-color);
    font-family: 'Lobster', cursive;
    font-size: 2.4em;
    float: left;
}
.menu-nav-links{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.nav-links{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 300;
}
.nav-links:hover{
    text-decoration: underline .2rem rgb(207, 188, 230);
}
.menu-nav-btn{
    background-color: transparent;
    padding: .7rem;
    border-radius: 2rem;
    max-width: 5.5rem;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: serif;
    font-size: 1rem;
}
.menu-nav-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .3s;
}

/* Main container content */
.container-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-main-text{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: .5rem 0 0 1.5rem;
    gap: 1rem;
}
.container-main-title{
    font-family: 'Domine';
    font-size: 3rem;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: .2rem 0;
}
.container-main-subtitle{
    font-size: 1.1rem;
    text-align: start;
    color: var(--secondary-color);
}
.main-btn{
    background-color: var(--quaternary-color);
    max-width: 12rem;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    padding: 1rem 0 0 0;
}
.main-btn:hover{
    transform: translateY(-.2rem);
    cursor: pointer;
}
.container-main-image{
    max-width: 35rem;
    max-height: 26rem;
    padding: .5rem;
}

/* Footer content */
.footer-info{
    background-color: var(--quaternary-color);
    border: none;
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: .4rem 0 0 .4rem;
    border-radius: 1.5rem;
    max-height: max-content;
    display: flex;
} 
.footer-text{
    display: flex;
    flex-direction: row;
} 
.footer-text-powered{
    color: var(--primary-color);
    font-family: 'Sarala', sans-serif;
    padding: 12px 0 0 18px;
}
.footer-text-companies{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}
.footer-text-companies li{
    color: var(--primary-color);
}
.footer-companies{
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    color: var(--primary-color);
}
.footer-image{
    max-width: fit-content;
    max-height: fit-content;
}